<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Course Input Form'}"></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script th:src="@{/js/syllabus/designCourseInputForm.js}"></script>-->

</head>
<body>
<div class=""
     id="main">

    <div class=""
         id="statusDiv">

        <p id="statusText"></p>
    </div>

    <section>

        <div class=""
             id="courseBasicInfoDiv">

            <table border="1">
                <tbody>
                <tr>
                    <th>Course Code</th>
                    <td>:</td>
                    <td th:text="${course.courseCode}"></td>
                    <th>Credit</th>
                    <td>:</td>
                    <td th:text="${course.courseCredit}"></td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>:</td>
                    <td th:text="${course.courseTitle}"></td>
                    <th>Type</th>
                    <td>:</td>
                    <td th:text="${course.courseType}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <form>
        <section class=""
                 th:each="content, contentId : ${course.contentList}">

            <div class=""
                 th:id="'content_' + ${contentId.index}">

                <div class=""
                     th:if="${content instanceof T(org.ju.cse.cseju.syllabus.model.content.TextArea)}"
                     th:id="'textAreaDiv_' + ${contentId.index}">
                    <table class=""
                           border="1"
                           width="60"
                           th:id="'inputTable_' + ${contentId.index}">

                        <thead>
                        <tr>
                            <th>
                                <label th:text="${content.title}"></label>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <textarea class=""
                                          th:id="'textArea_textBody' + ${contentId.index}"
                                          th:value="${content.textBody}">
                                </textarea>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class=""
                     th:if="${content instanceof T(org.ju.cse.cseju.syllabus.model.content.Table)}"
                     th:id="'tableDiv_' + ${contentId.index}">

                    <table class=""
                           border="1"
                           width="60"
                           th:id="'inputTable_' + ${contentId.index}">

                        <thead>
                        <tr>
                            <th th:colspan="${#lists.size(content.fields)}"
                                th:text="${content.title}">

                            </th>
                        </tr>
                        <tr>
                            <th th:each="fieldName, fieldNameId : ${content.fields}">
                                <label th:text="${fieldName}"></label>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="row, rowId : ${content.rows}">

                            <td th:each="cell, cellId : ${row.cells}">

                                <textarea class=""
                                          th:id="'cell_' + ${rowId.index} + '_' + ${cellId.index}"
                                          th:value="${cell}">

                                </textarea>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td th:colspan="${#lists.size(content.fields)}">

                                <!--Add new input row
                                url: /course/{databaseName}/add_input_row/{contentId}-->
                                <a class=""
                                   th:id="'addRow_' + ${contentId.index}"
                                   th:href="@{'/course/' + ${databaseName} + '/add_input_row/' + ${contentId.index}}">Add
                                    +</a>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </form>
    <!--<form class=""
          id="courseStructureDesignForm">

        <input class=""
               id="courseStructureName"
               type="hidden"
               th:value="${courseStructure.name}">

        <input class=""
               id="databaseName"
               type="hidden"
               th:value="${courseStructure.databaseName}">

        &lt;!&ndash;Each row of this table is a content for this type of course
        Add a row means add a new content to Course Structure and delete vice versa&ndash;&gt;
        <table class=""
               id="courseContentTable"
               border="1">

            <thead></thead>
            <tbody>
            &lt;!&ndash;for each ContentBundle in the ContentBundleList of the CourseStructure(CourseStructure)&ndash;&gt;
            <tr th:each="contentBundle, rowId : ${courseStructure.contentBundleList}">

                <td>
                    <div class=""
                         th:id="'contentRow_' + ${rowId.index}">

                        <div class=""
                             th:id="'contentSelectorDiv_' + ${rowId.index}">

                            &lt;!&ndash;ContentSelector : 0 for TextArea, 1 for Table&ndash;&gt;
                            <select class=""
                                    th:id="'contentSelector_' + ${rowId.index}"
                                    th:value="${contentBundle.selected}"
                                    th:onchange="'changeContentType(' + ${rowId.index} + ')'">

                                <option th:value="${contentBundle.selected}"
                                        th:text="${contentBundle.selected == 0} ? 'Text Area' : 'Table'"></option>
                                <option th:value="${contentBundle.selected == 0} ? 1 : 0"
                                        th:text="${contentBundle.selected == 1} ? 'Text Area' : 'Table'"></option>
                            </select>
                        </div>

                        &lt;!&ndash;TextArea Div
                        Hidden if Table is selected&ndash;&gt;
                        <div class=""
                             th:id="'textArea_' + ${rowId.index}"
                             th:style="${contentBundle.selected == 1} ? 'display: none' : 'display: block'">

                            <div class=""
                                 th:id="'textArea_' + ${rowId.index} + '_field1'">

                                <input class=""
                                       type="text"
                                       th:id="'textArea_' + ${rowId.index} + '_field1Name'"
                                       th:value="${contentBundle.textArea.title}"/>
                            </div>

                            <div class=""
                                 th:id="'textArea_' + ${rowId.index} + '_field2Preview'">
                                <h3>Text Input Here...</h3>
                            </div>
                        </div>

                        &lt;!&ndash;Table Div
                        Hidden if TextArea is selected&ndash;&gt;
                        <div class=""
                             th:id="'table_' + ${rowId.index}"
                             th:style="${contentBundle.selected == 0} ? 'display: none' : 'display: block'">

                            <div class=""
                                 th:id="'table_' + ${rowId.index} + '_field1'">

                                <input class=""
                                       type="text"
                                       th:id="'table_' + ${rowId.index} + '_field1Name'"
                                       th:value="${contentBundle.table.title}"/>
                            </div>

                            <div class=""
                                 th:id="'table_' + ${rowId.index} + '_field2'">

                                &lt;!&ndash;Table to show the FieldNames of a Table(Content)&ndash;&gt;
                                <table class=""
                                       th:id="'table_' + ${rowId.index} + 'FieldNameTable'">

                                    <tbody>
                                    <tr>
                                        &lt;!&ndash;For each FieldName in the Table.Fields&ndash;&gt;
                                        <td th:each="contentTableFieldName, colId : ${contentBundle.table.fields}">

                                            <div class=""
                                                 th:id="'contentTable' + ${rowId.index} + 'FieldNameDiv' + ${colId.index}">

                                                <div class=""
                                                     th:id="'contentTable' + ${rowId.index} + 'FieldNameInputDiv' + ${colId.index}">

                                                    <input class=""
                                                           type="text"
                                                           th:id="'contentTable' + ${rowId.index} + 'FieldName' + ${colId.index}"
                                                           th:value="${contentTableFieldName}"/>
                                                </div>

                                                <div class=""
                                                     th:id="'contentTable' + ${rowId.index} + 'FieldNameDeleteDiv' + ${colId.index}">

                                                    &lt;!&ndash;Delete this Field Form the Table(Content)
                                                    url: /course_structure/{databaseName}/delete_field_/{contentBundleIndex}/{fieldNameId} &ndash;&gt;
                                                    <a class=""
                                                       th:id="'contentTable' + ${rowId.index} + 'FieldNameDeleteButton' + ${colId.index}"
                                                       th:href="@{'/course_structure/' + ${courseStructure.databaseName} + '/delete_field_/' + ${rowId.index} + '/' + ${colId.index}}">Delete
                                                        Field</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=""
                                                 th:id="'contentTableAddFieldDiv' + ${rowId.index}">

                                                &lt;!&ndash;Add a new Field in the Table(Content)
                                                url: /course_structure/{databaseName}/add_field_/{contentBundleIndex} &ndash;&gt;
                                                <a class=""
                                                   th:id="'contentTableAddFieldButton' + ${rowId.index}"
                                                   th:href="@{'/course_structure/' + ${courseStructure.databaseName} + '/add_field_/' + ${rowId.index}}">Add
                                                    Field</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class=""
                             th:id="'deleteContentRowDiv_' + ${rowId.index}">

                            &lt;!&ndash;Delete this ContentBundle
                            url: /course_structure/delete_contentBundle/{databaseName}/{contentBundleIndex}&ndash;&gt;
                            <a type="button"
                               th:href="@{'/course_structure/delete_contentBundle/' + ${courseStructure.databaseName} + '/' + ${rowId.index}}">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <div class=""
                         id="addContentRowDiv">

                        &lt;!&ndash;Add a new ContentBundle in the CourseStructure(CourseStructure)
                        url: /course_structure/add_ContentBundle/{databaseName} &ndash;&gt;
                        <a type="button"
                           th:href="@{'/course_structure/add_ContentBundle/' + ${courseStructure.databaseName}}">
                            Add +
                        </a>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>-->
</div>
</body>
</html>