<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Course Types'}"></title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.0/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/syllabus/courseTypePage.js}"></script>
</head>
<body>
<div class="container"
     id="courseTypesListDiv">

    <section>
        <div class="card">
            <h4 id="syllabusName"
                th:text="${syllabusName}"></h4>
        </div>
        <br/>
    </section>
    <section>
        <div id="courseTypesTableDiv" class="card">
            <div class="container">
                <br/>
                <table class="table table-bordered"
                       id="courseTypesTable"
                       border="1">
                    <thead>
                    <tr>
                        <th colspan="4">Course Types</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4">
                            <button class=""
                                    id="addCourseType">Add +
                            </button>
                        </td>
                    </tr>
                    <tr id="addTypeFormDivRow"
                        style="display:none">

                        <td colspan="4">
                            <div class=""
                                 th:id="addTypeFormDiv">

                                <form class=""
                                      id="addCourseTypeForm"
                                      method="post"
                                      th:action="@{'/courseType/' + ${syllabusName} + '/saveNewType'}">

                                    <div>
                                        <input class=""
                                               id="newCourseTypeInput"
                                               type="text"
                                               th:field="${newCourseType.text}" required>
                                    </div>
                                    <span id="inputErrorMessage"></span>

                                    <div>
                                        <button class=""
                                                type="submit">Create Type
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <br/>
    </section>
    <section>
        <div id="courseStructureDiv" class="card" style="display:none">
            <button class="btn btn-primary"
                    onclick="closeFormDesigner()">Done
            </button>
            <div class=""
                 id="optionDiv">

                <!--Shows the preview of this type of Course Input Form
                url: /course/inputForm/preview/{courseType}-->
                <a class=""
                   id="previewButton"
                   role="button"
                   th:href="@{''}">Preview</a>
            </div>

            <div class=""
                 id="statusDiv">

                <span id="statusText1"></span>
                <span id="statusText2"></span>
            </div>

            <form class=""
                  id="courseStructureDesignForm">

                <!--Each row of this table is a content for this type of course
                Add a row means add a new content to Course Structure and delete vice versa-->
                <table class="table"
                       id="courseContentTable">

                    <thead></thead>
                    <tbody>
                    </tbody>
                </table>
            </form>
            <div class="fluid card"
                 id="addContentRowDiv">

                <p id="courseTypeNameSelected" style="display:none"></p>

                <!--Add a new ContentBundle in the CourseStructure(CourseStructure)
                url: /course_structure/add_ContentBundle/{databaseName} -->
                <button class="btn btn-success btn-md"
                        id="addCourseBundleButton">
                    Add +
                </button>
            </div>
        </div>

    </section>
</div>
</body>
</html>