<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Form Design Page'}"></title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script th:src="@{/js/syllabus/designCourseInputForm.js}"></script>

</head>

<body>
<div class=""
     id="main">

    <div class=""
         id="optionDiv">

        <!--Shows the preview of this type of Course Input Form
        url: /course/inputForm/preview/{courseType}-->
        <a class=""
           id="previewButton"
           role="button"
           th:href="@{'/course/inputForm/preview/' + ${courseStructure.name}}">Preview</a>
    </div>

    <div class=""
         id="statusDiv">

        <p id="statusText"></p>
    </div>

    <form class=""
          id="courseStructureDesignForm">

        <input class=""
               id="courseStructureName"
               type="hidden"
               th:value="${courseStructure.name}">

        <input class=""
               id="databaseName"
               type="hidden"
               th:value="${courseStructure.databaseName}">

        <!--Each row of this table is a content for this type of course
        Add a row means add a new content to Course Structure and delete vice versa-->
        <table class=""
               id="courseContentTable"
               border="1">

            <thead></thead>
            <tbody>
            <!--for each ContentBundle in the ContentBundleList of the CourseStructure(CourseStructure)-->
            <tr th:each="contentBundle, rowId : ${courseStructure.contentBundleList}">

                <td>
                    <div class=""
                         th:id="'contentRow_' + ${rowId.index}">

                        <div class=""
                             th:id="'contentSelectorDiv_' + ${rowId.index}">

                            <!--ContentSelector : 0 for TextArea, 1 for Table-->
                            <select class=""
                                    th:id="'contentSelector_' + ${rowId.index}"
                                    th:value="${contentBundle.selected}"
                                    th:onchange="'changeContentType(' + ${rowId.index} + ')'">

                                <option th:value="${contentBundle.selected}"
                                        th:text="${contentBundle.selected == 0} ? 'Text Area' : 'Table'"></option>
                                <option th:value="${contentBundle.selected == 0} ? 1 : 0"
                                        th:text="${contentBundle.selected == 1} ? 'Text Area' : 'Table'"></option>
                            </select>
                        </div>

                        <!--TextArea Div
                        Hidden if Table is selected-->
                        <div class=""
                             th:id="'textArea_' + ${rowId.index}"
                             th:style="${contentBundle.selected == 1} ? 'display: none' : 'display: block'">

                            <div class=""
                                 th:id="'textArea_' + ${rowId.index} + '_field1'">

                                <input class=""
                                       type="text"
                                       th:id="'textArea_' + ${rowId.index} + '_field1Name'"
                                       th:value="${contentBundle.textArea.title}"/>
                            </div>

                            <div class=""
                                 th:id="'textArea_' + ${rowId.index} + '_field2Preview'">
                                <h3>Text Input Here...</h3>
                            </div>
                        </div>

                        <!--Table Div
                        Hidden if TextArea is selected-->
                        <div class=""
                             th:id="'table_' + ${rowId.index}"
                             th:style="${contentBundle.selected == 0} ? 'display: none' : 'display: block'">

                            <div class=""
                                 th:id="'table_' + ${rowId.index} + '_field1'">

                                <input class=""
                                       type="text"
                                       th:id="'table_' + ${rowId.index} + '_field1Name'"
                                       th:value="${contentBundle.table.title}"/>
                            </div>

                            <div class=""
                                 th:id="'table_' + ${rowId.index} + '_field2'">

                                <!--Table to show the FieldNames of a Table(Content)-->
                                <table class=""
                                       th:id="'table_' + ${rowId.index} + 'FieldNameTable'">

                                    <tbody>
                                    <tr>
                                        <!--For each FieldName in the Table.Fields-->
                                        <td th:each="contentTableFieldName, colId : ${contentBundle.table.fields}">

                                            <div class=""
                                                 th:id="'contentTable' + ${rowId.index} + 'FieldNameDiv' + ${colId.index}">

                                                <div class=""
                                                     th:id="'contentTable' + ${rowId.index} + 'FieldNameInputDiv' + ${colId.index}">

                                                    <input class=""
                                                           type="text"
                                                           th:id="'contentTable' + ${rowId.index} + 'FieldName' + ${colId.index}"
                                                           th:value="${contentTableFieldName}"/>
                                                </div>

                                                <div class=""
                                                     th:id="'contentTable' + ${rowId.index} + 'FieldNameDeleteDiv' + ${colId.index}">

                                                    <!--Delete this Field Form the Table(Content)
                                                    url: /course_structure/{databaseName}/delete_field_/{contentBundleIndex}/{fieldNameId} -->
                                                    <a class=""
                                                       th:id="'contentTable' + ${rowId.index} + 'FieldNameDeleteButton' + ${colId.index}"
                                                       th:href="@{'/course_structure/' + ${courseStructure.databaseName} + '/delete_field_/' + ${rowId.index} + '/' + ${colId.index}}">Delete
                                                        Field</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=""
                                                 th:id="'contentTableAddFieldDiv' + ${rowId.index}">

                                                <!--Add a new Field in the Table(Content)
                                                url: /course_structure/{databaseName}/add_field_/{contentBundleIndex} -->
                                                <a class=""
                                                   th:id="'contentTableAddFieldButton' + ${rowId.index}"
                                                   th:href="@{'/course_structure/' + ${courseStructure.databaseName} + '/add_field_/' + ${rowId.index}}">Add
                                                    Field</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class=""
                             th:id="'deleteContentRowDiv_' + ${rowId.index}">

                            <!--Delete this ContentBundle
                            url: /course_structure/delete_contentBundle/{databaseName}/{contentBundleIndex}-->
                            <a type="button"
                               th:href="@{'/course_structure/delete_contentBundle/' + ${courseStructure.databaseName} + '/' + ${rowId.index}}">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>
                    <div class=""
                         id="addContentRowDiv">

                        <!--Add a new ContentBundle in the CourseStructure(CourseStructure)
                        url: /course_structure/add_ContentBundle/{databaseName} -->
                        <a type="button"
                           th:href="@{'/course_structure/add_ContentBundle/' + ${courseStructure.databaseName}}">
                            Add +
                        </a>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
    </form>
</div>
</body>
</html>