<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${syllabus.type} + ${syllabus.session}"></title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/syllabus/syllabusDraftEditPage.js}"></script>
</head>
<body>
<div class="">

    <table class=""
           border="1"
           id="syllabusTable">
        <caption id="syllabusTableCaption"
                 th:text="${syllabus.name}"></caption>

        <tbody>
        <!--For each Year-->
        <div th:remove="tag"
             th:each="year : ${syllabus.yearList}"
             th:with="semesterCount = ${year.semesterList.size()}">

            <tr>
                <!--Each Year-->
                <td th:rowspan="${semesterCount > 0} ? ${year.getNumberOfCoursesForRowSpan()} : ${1}">

                    <div class=""
                         th:id="'yearDiv' + ${year.yearId}">

                        <h4 th:text="${year.yearId} + ${year.getYearNameExtension()} + ' Year'"></h4>
                    </div>

                    <div class=""
                         th:id="'yearActionDiv' + ${year.yearId}">

                        <!--Delete Year
                        url: /syllabusDraft/{syllabusName}/deleteYear/{yearId}-->
                        <a class=""
                           th:href="@{'/syllabusDraft/' + ${syllabus.name} + '/deleteYear/' + ${year.yearId}}"
                           role="button">Delete</a>

                        <!--Add Semester
                        url: /syllabusDraft/{syllabusName}/addSemester/{yearId}-->
                        <a class=""
                           th:href="@{'/syllabusDraft/' + ${syllabus.name} + '/addSemester/' + ${year.yearId}}"
                           role="button">Semester +</a>
                    </div>
                </td>

                <!--First Semester in the Year-->
                <td th:if="${semesterCount > 0}"
                    th:rowspan="${year.semesterList[0].courseList.size() > 0} ?
                                            ${year.semesterList[0].courseList.size()} : ${1}">

                    <div class=""
                         th:id="'semesterDiv' + ${year.semesterList[0].semesterId} + '_' + ${year.yearId}">

                        <h5 th:text="${year.semesterList[0].semesterId} +
                                        ${year.semesterList[0].getSemesterNameExtension()} + ' Semester'"></h5>
                    </div>

                    <div class=""
                         th:id="'semesterActionDiv' + ${year.semesterList[0].semesterId} + '_' + ${year.yearId}">

                        <!--Delete Semester
                        url: /syllabusDraft/{syllabusName}/deleteSemester/{yearId}/{semesterId}-->
                        <a class=""
                           th:href="@{'/syllabusDraft/' + ${syllabus.name} + '/deleteSemester/'
                                        + ${year.yearId} + '/' + ${year.semesterList[0].semesterId}}"
                           role="button">Delete</a>

                        <!--Add Course
                        url: /syllabusDraft/{syllabusName}/addCourse/{yearId}/{semesterId}-->

                        <button class=""
                                th:id="'semester' + ${year.semesterList[0].semesterId}
                                                     + '_' + ${year.yearId} + '_AddCourseButton'"
                                th:data-toggle="'popover' + ${year.semesterList[0].semesterId}
                                                     + '_' + ${year.yearId}"
                                th:onclick="'popupAddCourseForm(' + ${year.yearId} + ', '
                                            + ${year.semesterList[0].semesterId} + ')'">Course +
                        </button>
                    </div>
                </td>

                <!--First Course in the semester-->
                <!--<td th:if="${semesterCount > 0 && year.semesterList[0].courseList.size() > 0}">

                    <div class=""
                         th:id="'courseDiv_' + ${year.semesterList[0].courseList[0].courseCode} +
                                    '_semester' + ${year.semesterList[0].semesterId} + '_year' + ${year.yearId}">

                        <p th:text="${year.semesterList[0].courseList[0].courseTitle}"></p>
                    </div>
                </td>-->

                <!--Course Info Cells-->
                <td th:if="${semesterCount > 0 && year.semesterList[0].courseList.size() > 0}">
                    <div>
                        <h6 th:text="${year.semesterList[0].courseList[0].courseCode}"></h6>
                    </div>
                </td>

                <td th:if="${semesterCount > 0 && year.semesterList[0].courseList.size() > 0}">
                    <div>
                        <!--Course Input Form
                        url: /course/inputForm/{syllabusName}/{yearId}/{semesterId}/{courseCode}-->
                        <a class=""
                           th:href="@{'/course/inputForm/' + ${syllabus.name} + '/' + ${year.yearId} + '/' +
                                        ${year.semesterList[0].semesterId} + '/' +
                                            ${year.semesterList[0].courseList[0].courseCode}}"
                           role="button">

                            <h6 th:text="${year.semesterList[0].courseList[0].courseTitle}"></h6>
                        </a>
                    </div>
                </td>

                <td th:if="${semesterCount > 0 && year.semesterList[0].courseList.size() > 0}">
                    <!--Delete Course
                    url: /syllabusDraft/{syllabusName}/deleteCourse/{yearId}/{semesterId}/{courseCode}-->
                    <a class=""
                       th:href="@{'/syllabusDraft/' + ${syllabus.name} + '/deleteCourse/' +
                                            ${year.yearId} + '/' + ${year.semesterList[0].semesterId} + '/' +
                                                ${year.semesterList[0].courseList[0].courseCode}}"
                       role="button">Delete</a>
                </td>
            </tr>

            <!--Rest of the courses in the semester-->
            <div th:remove="tag"
                 th:if="${semesterCount > 0 && year.semesterList[0].courseList.size() > 1}">

                <tr th:each="course, courseIdx : ${year.semesterList[0].courseList}"
                    th:if="${!courseIdx.first}">

                    <!--<td>
                        <div class=""
                             th:id="'courseDiv_' + ${course.courseCode} +
                                    '_semester' + ${year.semesterList[0].semesterId} + '_year' + ${year.yearId}">

                            <p th:text="${course.courseTitle}"></p>
                        </div>
                    </td>-->

                    <!--Course Info cells-->
                    <td>
                        <div>
                            <h6 th:text="${course.courseCode}"></h6>
                        </div>
                    </td>
                    <td>
                        <!--Course Input Form
                        url: /course/inputForm/{syllabusName}/{yearId}/{semesterId}/{courseCode}-->
                        <div>
                            <a class=""
                               th:href="@{'/course/inputForm/' + ${syllabus.name} + '/' + ${year.yearId} + '/' +
                                        ${year.semesterList[0].semesterId} + '/' +
                                            ${course.courseCode}}"
                               role="button">
                                <h6 th:text="${course.courseTitle}"></h6>
                            </a>
                        </div>
                    </td>

                    <td>
                        <!--Delete Course
                        url: /syllabusDraft/{syllabusName}/deleteCourse/{yearId}/{semesterId}/{courseCode}-->
                        <a class=""
                           th:href="@{'/syllabusDraft/' + ${syllabus.name} + '/deleteCourse/' +
                                            ${year.yearId} + '/' + ${year.semesterList[0].semesterId} + '/' +
                                                ${course.courseCode}}"
                           role="button">Delete</a>
                    </td>
                </tr>
            </div>


            <!--From index 1 in SemesterList-->
            <div th:remove="tag"
                 th:each="semester, semesterIdx : ${year.semesterList}"
                 th:with="courseCount = ${semester.courseList.size()}">

                <tr th:if="${!semesterIdx.first}">

                    <td th:rowspan="${semester.courseList.size() > 0} ? ${semester.courseList.size()} : ${1}">

                        <div class=""
                             th:id="'semesterDiv' + ${semester.semesterId} + '_' + ${year.yearId}">

                            <h5 th:text="${semester.semesterId} +
                                        ${semester.getSemesterNameExtension()} + ' Semester'"></h5>
                        </div>

                        <div class=""
                             th:id="'semesterActionDiv' + ${semester.semesterId} + '_' + ${year.yearId}">

                            <!--Delete Semester
                            url: /syllabusDraft/{syllabusName}/deleteSemester/{yearId}/{semesterId}-->
                            <a class=""
                               th:href="@{'/syllabusDraft/' + ${syllabus.name} + '/deleteSemester/'
                                        + ${year.yearId} + '/' + ${semester.semesterId}}"
                               role="button">Delete</a>

                            <!--Add Course
                            url: /syllabusDraft/{syllabusName}/addCourse/{yearId}/{semesterId}-->
                            <button class=""
                                    th:id="'semester' + ${semester.semesterId}
                                                     + '_' + ${year.yearId} + '_AddCourseButton'"
                                    th:data-toggle="'popover' + ${semester.semesterId}
                                                     + '_' + ${year.yearId}"
                                    th:onclick="'popupAddCourseForm(' + ${year.yearId} + ', '
                                            + ${semester.semesterId} + ')'">Course +
                            </button>
                        </div>
                    </td>

                    <!--<td th:if="${semester.courseList.size()}">

                        <div class=""
                             th:id="'courseDiv_' + ${semester.courseList[0].courseCode} +
                                    '_semester' + ${semester.semesterId} + '_year' + ${year.yearId}">

                            <p th:text="${semester.courseList[0].courseTitle}"></p>
                        </div>
                    </td>-->

                    <!--Course Info Cells Start-->
                    <td th:if="${semester.courseList.size()}">
                        <div>
                            <h6 th:text="${semester.courseList[0].courseCode}"></h6>
                        </div>
                    </td>

                    <td th:if="${semester.courseList.size()}">
                        <div>
                            <!--Course Input Form
                            url: /course/inputForm/{syllabusName}/{yearId}/{semesterId}/{courseCode}-->
                            <a class=""
                               th:href="@{'/course/inputForm/' + ${syllabus.name} + '/' + ${year.yearId} + '/' +
                                        ${semester.semesterId} + '/' +
                                            ${semester.courseList[0].courseCode}}"
                               role="button">
                                <h6 th:text="${semester.courseList[0].courseTitle}"></h6>
                            </a>
                        </div>
                    </td>
                    <!--Course Info Cells End-->

                    <td th:if="${semester.courseList.size()}">
                        <!--Delete Course
                        url: /syllabusDraft/{syllabusName}/deleteCourse/{yearId}/{semesterId}/{courseCode}-->
                        <a class=""
                           th:href="@{'/syllabusDraft/' + ${syllabus.name} + '/deleteCourse/' +
                                            ${year.yearId} + '/' + ${semester.semesterId} + '/' +
                                                ${semester.courseList[0].courseCode}}"
                           role="button">Delete</a>
                    </td>
                </tr>

                <!--From index 1 in the courseList-->
                <div th:remove="tag"
                     th:if="${!semesterIdx.first && semester.courseList.size() > 1}">

                    <tr th:each="course, courseIdx : ${semester.courseList}"
                        th:if="${!courseIdx.first}">

                        <!--<td>
                            <div class=""
                                 th:id="'courseDiv_' + ${course.courseCode} +
                                    '_semester' + ${semester.semesterId} + '_year' + ${year.yearId}">

                                <p th:text="${course.courseTitle}"></p>
                            </div>
                        </td>-->

                        <!--Course Info Cells Start-->
                        <td>
                            <div>
                                <h6 th:text="${course.courseCode}"></h6>
                            </div>
                        </td>

                        <td>
                            <div>
                                <!--Course Input Form
                                url: /course/inputForm/{syllabusName}/{yearId}/{semesterId}/{courseCode}-->
                                <a class=""
                                   th:href="@{'/course/inputForm/' + ${syllabus.name} + '/' + ${year.yearId} + '/' +
                                        ${semester.semesterId} + '/' +
                                            ${course.courseCode}}"
                                   role="button">
                                    <h6 th:text="${course.courseTitle}"></h6>
                                </a>
                            </div>
                        </td>
                        <!--Course Info Cells End-->

                        <td>
                            <!--Delete Course
                            url: /syllabusDraft/{syllabusName}/deleteCourse/{yearId}/{semesterId}/{courseCode}-->
                            <a class=""
                               th:href="@{'/syllabusDraft/' + ${syllabus.name} + '/deleteCourse/' +
                                            ${year.yearId} + '/' + ${semester.semesterId} + '/' + ${course.courseCode}}"
                               role="button">Delete</a>
                        </td>
                    </tr>
                </div>
            </div>
        </div>
        </tbody>

        <tfoot>
        </tfoot>
    </table>

    <div>
        <a th:href="@{'/syllabusDraft/addYear/' + ${syllabus.name}}"
           role="button">Year +</a>
    </div>

    <div class=""
         id="addCourseFormDiv"
         style="display: none">

        <form class=""
              id="addCourseForm"
              action=""
              method="post">
            <div>
                <label>Course Type</label>
                <select class=""
                        id="newCourseTypeInput"
                        th:field="${newCourse.courseType}">

                    <div th:each="courseType : ${courseTypes.courseTypeList}">

                        <option th:value="${courseType}"
                                th:text="${courseType}"></option>
                    </div>
                </select>
            </div>

            <div>
                <input class=""
                       id="newCourseCodeInput"
                       type="text"
                       required
                       placeholder="Course Code"
                       th:field="${newCourse.courseCode}">
            </div>

            <div>
                <input class=""
                       id="newCourseTitleInput"
                       type="text"
                       required
                       placeholder="Course Title"
                       th:field="${newCourse.courseTitle}">
            </div>

            <div>
                <input type="submit" value="Create Course">
            </div>
        </form>
    </div>
</div>
</body>
</html>